# Don't commit test data/resources.
*.html
*.ics

# Avoid committing dev-units and virtual environment to production.
dev-units/*
venv/*

# Byte-compiled / optimized / DLL files
.idea/*
__pycache__/*
*.pyc